name: Sync to Hugging Face hub
on:
  push:
    branches: [main, huggingface-deploy]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push https://hayato-122/UOchecker:$HF_TOKEN@huggingface.co/spaces/hayato-122/UOchecker HEAD:main
